# Ignore all node_modules directories
node_modules/
# Ignore all .env files
.env
# Ignore all .DS_Store files
.DS_Store
# Ignore all .log files
*.log
# Ignore all .tmp files
*.tmp
.vscode/

instructions.txt
dist/
public/products/json_gen_old.html
test-results/*.json
test-results/
test-results/tests-colorContrast--src-p-65bfe-–-light-WCAG-contrast-audit/error-context.md
test-results/.last-run.json
a11y-report.json
